@mixin navbar {
    font-size: 22px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    a {
    text-decoration: none;
    color: rgb(107, 84, 53) !important;
    font-size: 22px;

    &:hover {
        color: rosybrown !important;
        cursor: pointer;
    }
    }
}

.container-navbar {
    background-color: #CBDEDEff;
    @include navbar;

    @media (max-width: 768px) {
    font-size: 20px;
    }

    @media (max-width: 414px) {
    font-size: 18px;

    a {
        margin-right: 0;
        margin-bottom: 0.5rem;
        font-size: 14px;
    }
    }
}