@mixin navbar {
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    a {
    text-decoration: none;
    color: rgb(107, 84, 53) !important;
    font-size: 20px;
    
    &:hover {
        color: rosybrown;
        cursor: pointer;
    }
    }
    
    @media (max-width: 736px) {
    a {
        margin-right: 0.5rem;
    }
    }
}

.container-navbar {
    background-color: #CBDEDEff;
    @include navbar;
}