/* CSS Texto animado de contact */
$moving-text-bg-colors: #f00, #ff0, #0f0, #0ff, #00f, #f0f;

.moving-text{
    animation: slidein 6s ease-in-out infinite;
    background: linear-gradient(to right, $moving-text-bg-colors...);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-emphasis-color: transparent;
    text-align: left;
    white-space: nowrap;
    background-size: 500% auto;
    background-position: 0% center;
    
    @keyframes slidein{
        0%{
            margin-left: -100%;
            animation-timing-function: ease-in;
        }
        50%{
            animation-timing-function: ease-out;
            animation-duration: 10s;
        }
        100%{
            margin-left: 100%;
            animation-timing-function: ease-in;
        }
    }
}