p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size: 20px;    
    line-height: 30px;
    letter-spacing: 2px;
    text-align: justify;
    color: rgb(107, 84, 53);
    height: auto;
}
main p{
    text-align: center;
}



.servicesp{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size: 20px;    
    line-height: 30px;
    letter-spacing: 2px;
    color: rgb(107, 84, 53);
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.historyp{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size: 20px;    
    line-height: 30px;
    letter-spacing: 2px;
    color: rgb(107, 84, 53);
    margin-top: 20px;
    margin-right: 8%;
    margin-left: 8%;
    margin-bottom: 20px;
    text-align: center;
}
