$p-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$p-weight: 500;
$p-size: 20px;    
$p-line-height: 30px;
$p-letter-spacing: 2px;
$p-color: rgb(107, 84, 53);

p {
font-family: $p-font;
font-weight: $p-weight;
font-size: $p-size;
line-height: $p-line-height;
letter-spacing: $p-letter-spacing;
text-align: justify;
color: $p-color;
height: auto;

main & {
    text-align: center;
}
}

.servicesp {
@extend p;
padding: 10px;
margin-left: 10px;
margin-right: 10px;
text-align: center;
}

.historyp {
@extend p;
margin-top: 20px;
margin-right: 8%;
margin-left: 8%;
margin-bottom: 20px;
text-align: center;
}
